@model Bloggie.Web.Models.ViewModels.AddTagRequest
@{
}
<h1>Admin Tags</h1>
<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name </label>
            <input class="form-control" type="text" id="name" asp-for="Name"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Display name</label>
            <input class="form-control" type="text" id="displayName" asp-for="DisplayName" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>


    </form>

</div>
